<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/style.css">
  
    <title>Admin Dashboard</title>
</head>


<body>
    
    <a href="/admin/logout">Logout</a>
    <h3>Admin Dashboard </h3>

    
    <h3 class="head-div">Upload Video Files</h3>
    <% if (error) { %>
        <p id="err1">
            <%= error %>
            <% error = '' %>
        </p>
        <% } %>

        <% if (message) { %>
            <p id="feedback">
                <%= message %>
            </p>
            <% } %>

       
    
    <form action="/admin/dashboard" method="POST" enctype="multipart/form-data">
    
    <div class="file">
        <input type="file" name="myFile" id="myFile" required>
    </div>
    <div class="file">
        <input type="text" name="title" id="title" placeholder="Video Title" required>
    </div>
    <div class="file">
        <textarea name="desc" id="desc" placeholder="Description" required></textarea>
    </div>
    <div>
        <input type="submit" value="Upload" >
    </div>

</form>
    <div class = "admin">
        
            <% files.forEach(item => { %>
    <div>
        <ul>
                <hr>
            <li><%= item.id %></li>
            <li><%= item.title %></li>
            <li><%= item.description %></li>
            <li>
                  <video width="450" controls>
                     <source type = "video/mp4" src = <%= item.filepath %>  >
                </video>
            </li>
        </ul>    
    </div>
            <% }) %> 
          
         
         

    </div>

    <div id="nvd">No videos uploaded</div>
    
    <p id="count"><%= files.length %></p>

</main>

</body>
<script src="/script/admin_script.js" defer></script>

</html>